<plugin name='grass' version='0.2' grailsVersion='1.1.1 &gt; *'>
  <author>Alexei Tishin</author>
  <authorEmail>altos.z@gmail.com</authorEmail>
  <title>Compass stylesheet authoring tool plugin</title>
  <description>\
Compass is a stylesheet authoring tool that uses the Sass stylesheet language to make your stylesheets smaller and your web site easier to maintain. This plugin brings compass advantages to grails community.
	</description>
  <documentation>http://grails.org/Grass+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>GrassConfig</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
</plugin>